* {
  font-family: 'Prompt', sans-serif;
}

.header-list {
  display: flex;
  margin-left: 24px;
}

.header-item {
  list-style-type: none;
  padding: 12px 20px;
  
}

.active {
  text-decoration: underline;
  font-weight: 700;
}

.header-link {
  color: rgb(5, 119, 249);
  font-size: 24px;
}

.vr {
  display: inline;
  height: 32px;
  margin: 10px 30px;
  border-left: 3px solid #8b8989;
}
